.title{
	color: #F00;
	font-weight: bolder;
	letter-spacing: 8px;
	font-size: 30px;
}

.content{
	color:gray;
	line-height: 32px;
	font-weight: bolder;
	font-size: 24px;
	letter-spacing: 3px;

}
.content1{
	line-height: 32px;
	color:gray;
	font-weight: bolder;
	font-size: 24px;
	letter-spacing: 3px;

}

.content2{
	color:gray;
	font-weight: bolder;
	font-size: 24px;
	letter-spacing: 3px;
	margin-top: 10px;
	line-height: 32px;

}

.content3{
	color:gray;
	font-weight: bolder;
	font-size: 24px;
	letter-spacing: 3px;
	line-height: 32px;

}

.content4{
	color:gray;
	font-weight: bolder;
	font-size: 24px;
	letter-spacing: 3px;
	line-height: 32px;

}

.content5{
	color:gray;
	font-weight: bolder;
	font-size: 24px;
	letter-spacing: 3px;
	line-height: 32px;

}

.content6{
	color:gray;
	font-weight: bolder;
	font-size: 24px;
	letter-spacing: 3px;
	line-height: 32px;

}
