 *
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.banners-container
{
    position: absolute;
    z-index: 1;

    overflow: hidden;
	margin-top: 5px;
    width: 7000px;
    height: 650px;
}
.banner-wrapper
{
    position: relative;
    z-index: 3;

    overflow: hidden;

    width: 1400px;
    height: 650px;
    margin: 0 auto;

}

.banner-wrapper img
{
    float: left;

    width: 1400px;
    height: 650px;
}


li
{
    list-style: none;
}

.bannercontainer > li > a > img
{
    float: left;

    width: 1400px;
    height: 650px;
}



.banner > img
{
    position: relative;

    width: 1400px;
    height: 650px;
}

.container
{
    position: relative;
	
    width: 1200px;
    height: 650px;
    margin: 10px auto;
	margin-top: 30px;
}

.container > aside
{
    position: relative;

    float: left;

    width: 250px;
    height: 980px;

    background: #ececec;
}

.container > aside > h2
{
    font-size: 30px;
    line-height: 50px;

    width: 250px;
    height: 65px;
    margin-top: 0;
    margin-bottom: 10px;

    text-align: center;
    letter-spacing: 5px;

    color: #f00;
    background: #fff;
}


.container > article
{
    position: relative;

    float: left;

    width: 900px;
    margin-left: 50px;
}



.container > article > iframe
{
    position: relative;

    width: 100%;
    height: auto !important;
    min-height: 980px;
}

