*{font-family: Microsoft YaHei UI;margin: 0;padding: 0;border: none;}
a { text-decoration: none;}
ul{ list-style: none;}

/*header*/

header {position: relative;background: #000;height: 70px;}
header > .container{position: relative;width: 1200px;height: 70px;margin:auto;}
header > .container > a{float: left;margin-top: 20px;margin-left: 5px;}
header > .container > nav {position: relative;float: right;}
header > .container > nav > a{display: block;float: left;width: 120px;line-height: 65px;text-align: center;color: #fff;font-weight: bold;}
header > .container > nav > a:hover{background: #FF0000;}

/*banner*/
.banner{
	position: relative;
	height: 720px;
}

.banner > div {
	position: absolute;
	width: 1920px;
	height: 720px;
}

.banner > div > img {
	background: #eee;
	position: absolute;
	z-index: 1;
	width: 1920px;
	height: 720px;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0
}

.banner > div > hgroup {
	
	position: absolute;
	width: 1080px;
	height: 240px;
	z-index: 2;
	top: 180px;
	left: 420px;
	margin: auto;
}

.banner > div > hgroup > h1 {
	line-height: 90px;
	text-align: center;
	font-size: 60px;
	height: 180px;
	margin-bottom: 10px;
	color:#fff;
	font-weight: bold;
}

.banner > div > hgroup > h2 {
	line-height: 90px;
	height: 180px;
	font-size: 30px;
	text-align: center;
	color: #fff;
	font-weight: bold;
}

/*protfolio*/

.protfolio {
	position: relative;
	margin: 0 auto;
}

.protfolio > h1{
	position: relative;
	margin: 0,auto;
	line-height: 70px;
	text-align: center;
	color: #f46208;
	font-size: 40px;
	margin-bottom: 40px;
	margin-top: 80px;
}

.protfolio > p{
	text-align: center;
	position: relative;
	margin: 0 auto;
	color: #000;
	font-weight: bold;
	font-size: 24px;
}

.protfolio > nav{
	
	margin-top: 60px;
	margin-bottom: 40px;
	width: 590px;
	height: 80px;
	position: relative;
	margin: 0 auto;
}

.protfolio > nav > a {
	font-weight: bold;
	margin-top: 20px;
	margin-left: 15px;
	position: relative;
	float: left;
	padding: 5px;
    font-size: 24px;
    line-height: 30px;
	display: block;
  	height: 30px;
	border: 2px solid #f46208;
    text-align: center;
    color: #f46208;
}

.protfolio > img{

	width: 1920px;
	height: 600px;
}


/*state*/

.stats {
	position: relative;
	height: 500px;

}

.stats > h1{
	position: relative;
	margin: 0,auto;
	line-height: 70px;
	text-align: center;
	color: #f46208;
	font-size: 40px;
	margin-bottom: 40px;
	margin-top: 80px;
}

.stats > p{
	text-align: center;
	position: relative;
	margin: 0 auto;
	color: #000;
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 40px;
}

.stats > div {
	margin-top: 80px;
	margin-bottom: 40px;
	width: 1000px;
	height: 120px;
	position: relative;
	margin: 0 auto;
}

.stats > div > dl{
	
	margin-top: 60px;
	margin-bottom: 40px;
	width: 250px;
	height: 160px;
	position: relative;
	margin: 0 auto;
	float: left;

}

.stats > div > dl > dt
{
	text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
    position: relative;
    top: 85px;
    left: 12px;
	height: 17px;
	margin: 0 auto;
	
}
.stats > div > dl > dd:first-of-type
{
    position: relative;
    width: 60px;
    margin: 0 auto;
}
.stats > div > dl > dd:last-of-type
{
    position: relative;
    color: #f46208;
    width: 200px;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
    top: 40px;
    margin: auto;
}


/*team*/

.team {
	background: #000;
	position: relative;
	height: 600px;

}

.team > h1{
	position: relative;
	margin: 0,auto;
	line-height: 70px;
	text-align: center;
	color: #f46208;
	font-size: 40px;
	margin-bottom: 40px;
	margin-top: 80px;
}

.team > p{
	text-align: center;
	position: relative;
	margin: 0 auto;
	color: #fff;
	font-weight: bold;
	font-size: 24px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.team > div {
	width: 900px;
	height: 320px;
	position: relative;
	margin:0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
}

.team > div > dl{
	width: 250px;
	height: 280px;
	position: relative;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;

}

.team > div > dl > dt {
	position: relative;
	width: 200px;
	margin: 0 auto;
	margin-top: 200px;
}

.team > div > dl > dd:first-of-type
{
    position: relative;
    width: 220px;
    margin: 0 auto;
}

.team > div > dl > dd:nth-of-type(2){
	position: relative;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	font-size: 20px;
}
.team > div >dl >dd:nth-of-type(3){
	position: relative;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	font-size: 12px;
}

.team > div >dl >dd:last-of-type{
	position: relative;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	font-size: 12px;
}



/*Contact*/

.contact {
	position: relative;
	height: 800px;

}

.contact > h1{
	position: relative;
	margin: 0,auto;
	line-height: 70px;
	text-align: center;
	color: #f46208;
	font-size: 40px;
	margin-bottom: 40px;
	margin-top: 80px;
}

.contact > p{
	text-align: center;
	position: relative;
	margin: 0 auto;
	color: #000;
	font-weight: bold;
	font-size: 24px;
}

.contact > form {
	position: relative;
	margin: 0 auto;
	width: 900px;
	height: 520px;
	margin-top: 40px;
}

.contact > button{

	padding: 5px;
	position: absolute;
	background: #f46208;
	height: 40px;
	margin: 0 auto;
	line-height: 30px;
	text-align: center;
	color: #fff;
    font-size: 24px;
    left: 870px;
}

.inputtext{
	position: absolute;
	width: 440px;
	height: 60px;
	left: 20px;
	top: 20px;
	color: #000;
	background: #abcdef;
}

.inputemail{
	background: #abcdef;
	position: absolute;
	width: 440px;
	height: 60px;
	left: 480px;
	top: 20px;
	color: #000;
}

.inputmessage{
	position: absolute;
	width: 900px;
	height: 400px;
	left: 20px;
	top: 100px;
	background: #abcdef;
}





/*footer
*/
footer
{
	height: 70px;
    position: relative;
	background: #000;
}

footer > p {
	text-align: center;
	line-height: 70px;
	font-size: 14px;
	color: #fff;
}





